@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #081b29;
}

.cover{
    position: relative;
    width: 750px;
    height: 450px;
    background-color: transparent;
    border: 2px solid #0ef;
    box-shadow: 0 0 20px #0ef;
    overflow: hidden;
}

.cover .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover .form-box.login{
    left: 0;
    padding: 0 60px 0 40px;
}

.cover .form-box.login .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.cover.active .form-box.login .animation{
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.cover .form-box.register{
    right: 0;
    padding: 10px 40px 0 60px;
}

.form-box h2{
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-left: 30px;
}

.form-box .input-box{
    position: relative;
    width: 100%;
    height: 35px;
    margin: 25px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    padding-right: 23px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid{
    border-bottom-color: #0ef;
}

#myInput::placeholder {
    color: transparent; /* Hide the placeholder  */
}
  
  #myInput:focus::placeholder {
    /* color: transparent; Hide the placeholder text when the input has focus */
    color: #aaa;
}

#myInput1::placeholder {
    color: transparent; /* Hide the placeholder  */
}
  
  #myInput1:focus::placeholder {
    /* color: transparent; Hide the placeholder text when the input has focus */
    color: #aaa;
}

#myInput2::placeholder {
    color: transparent; /* Hide the placeholder  */
}
  
  #myInput2:focus::placeholder {
    /* color: transparent; Hide the placeholder text when the input has focus */
    color: #aaa;
}

#myInput3::placeholder {
    color: transparent; /* Hide the placeholder  */
}
  
  #myInput3:focus::placeholder {
    /* color: transparent; Hide the placeholder text when the input has focus */
    color: #aaa;
}

#myInput4::placeholder {
    color: transparent; /* Hide the placeholder  */
}
  
  #myInput4:focus::placeholder {
    /* color: transparent; Hide the placeholder text when the input has focus */
    color: #aaa;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
    color: #0ef;
}

.input-box i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    transition: .5s;
}

.input-box input:focus~i{
    color: #0ef;
}

.loginbtn{
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}

.loginbtn::before{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
    z-index: -1;
    transition: .5s;
}


.loginbtn:hover::before{
    top: 0;
}

.form-box .link{
    font-size: 14.5px;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
}

.link p a{
    color: #0ef;
    text-decoration: none;
    /* font-weight: 600; */
}

.link p a:hover{
    text-decoration: underline;
}

.cover .info-text{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover .info-text.login{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
}

.cover .info-text.login .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.cover.active .info-text.login .animation{
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.cover .info-text.register{
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    /* pointer-events: none; */
    margin: -30px 0 0 0;
}

.cover.active .info-text.register .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.info-text h2{
    font-size: 28px;
    color: #fff;
    line-height: 1.3;
    text-transform: uppercase;
    font-family: 'calibri ';
}

.info-text p{
    font-size: 18px;
    color: #fff;
    font-family: 'calibri';
}

.trikon-bg.hide-element {
    display: none;
}

.trikon-bg2 {
    position: absolute;
    top: 100%;
    left: -50px;
    width: 850px;
    height: 700px;
    background: linear-gradient(45deg, #081b29, #0ef);
    border-bottom: 3px solid #0ef;
    transform: rotate(0) skewY(0);
    transform-origin: bottom left;
    transition: 1.5s ease;
    transition-delay: .5s;
}

.trikon-bg.hide-element + .trikon-bg2 {
    top: 0;
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1.2s;
}