@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #081b29;
}

.cover{
    position: relative;
    width: 750px;
    height: 450px;
    background-color: transparent;
    border: 2px solid #0ef;
    box-shadow: 0 0 60px #0ef;
    overflow: hidden;
}

.cover .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover .form-box.login{
    left: 0;
    padding: 0 60px 0 40px;
}

.cover .form-box.login .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.cover.active .form-box.login .animation{
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.cover .form-box.register{
    right: 0;
    padding: 0 40px 0 60px;
}

.cover .form-box.register .animation{
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.cover.active .form-box.register .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.form-box h2{
    font-size: 32px;
    color: #fff;
    text-align: center;
}

.form-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    padding-right: 23px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid{
    border-bottom-color: #0ef;
}

#myInput::placeholder {
    color: transparent; /* Hide the placeholder  */
}
  
  #myInput:focus::placeholder {
    color: #aaa;
}

#myInput1::placeholder {
    color: transparent; 
}
  
  #myInput1:focus::placeholder {
    color: #aaa;
    font-size: 16px;
}

#myInput2::placeholder {
    color: transparent; 
}
  
  #myInput2:focus::placeholder {
    color: #aaa;
}

#myInput3::placeholder {
    color: transparent; 
}
  
  #myInput3:focus::placeholder {
    color: #aaa;
}

#myInput4::placeholder {
    color: transparent; 
}
  
  #myInput4:focus::placeholder {
    color: #aaa;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: .5s;
    font-weight: 600;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
    color: #0ef;
}


.input-box i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    transition: .5s;
}

.input-box input:focus~i{
    color: #0ef;
}


.loginbtn{
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}

.loginbtn::before{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
    z-index: -1;
    transition: .5s;
}

.loginbtn:hover::before{
    top: 0;
}

.form-box .link{
    font-size: 14.5px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin: 20px 0 10px;
}

.link p a{
    color: #0ef;
    text-decoration: none;
    font-weight: bold;
}

.link p a:hover{
    text-decoration: underline;
}

.cover .info-text{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover .info-text.login{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
}

.cover .info-text.login .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.cover.active .info-text.login .animation{
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.cover .info-text.register{
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
}

.cover .info-text.register .animation{
    transform: translateX(-130%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.cover.active .info-text.register .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.info-text h2{
    font-size: 36px;
    color: #fff;
    line-height: 1.3;
    text-transform: uppercase;
}

.info-text p{
    font-size: 16px;
    color: #fff;
}

.cover .trikon-bg{
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    background: linear-gradient(45deg, #081b29, #0ef);
    border-bottom: 3px solid #0ef;
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
    transition-delay: 1.6s;
}

.cover.active .trikon-bg{
    transform: rotate(0) skewY(0);
    transition-delay: .5s;
}

.cover .trikon-bg2{
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    background: #081b29;
    border-top: 3px solid #0ef;
    transform: rotate(0) skewY(0);
    transform-origin: bottom left;
    transition: 1.5s ease;
    transition-delay: .5s;
}

.cover.active .trikon-bg2{
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1.2s;
}

.otpbtn{
    position: relative;
    width: 40%;
    height: 35px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}

.otpbtn::before{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
    z-index: -1;
    transition: .5s;
}

.otpbtn:hover::before{
    top: 0;
}

.notification {
        display: none;
        padding: 10px;
        background-color: #0ef;
        color: #081b29;
        border: 2px solid #081b29;
        margin: 7px;
        border-radius: 6px;
        font-size: 18px;
        font-weight: 600;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        animation: slideDown 2s;
    }

    @keyframes slideDown {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }

    #send_otp[disabled]:hover {
        cursor: not-allowed;
    }

    .goback {
        position: absolute;
        bottom: 40px;
        left: 90px;
        transform: translateX(-50%);
        z-index: 9999; 
    }

    .goback a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
    }

    .goback a:hover {
        color: #0ef;
        text-decoration: underline;
    }
