@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f5f5f9;
}
.container{
    width: 80%;
    margin: 6% auto;
    /* margin: 9px; */
    position: relative;
    bottom: 40px;
    display: flex;
    height: 623px;
    /* height: 565px; */
    box-shadow: 0 12px 18px rgba(54, 176, 138, 0.005);
    border-radius: 6px;
    background: #FFF;
}
.login-link{
    background-color: #696cff;
    /* background-image: url('bg-shapes.svg'); */
    background-position: bottom left;
    background-repeat: no-repeat;
    width: 35%;
    /* width: 400px; */
    padding: 3%;
}
.signup-form-container{
    width: 70%;
    max-width: 700px;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    font-weight: 600;
    color: #FFF;
}
.side-big-headning{
    font-weight: 800;
    color: #FFF;
    font-size: 1.6rem;
    margin: 46% 0 5%;
}
.primary-bg-text{
    color: #eff0ff;
    font-weight: 500;
    text-align: center;
}
a.loginbtn{
    text-decoration: none;
    color: #FFF;
    width: 70%;
    font-weight: 500;
    display: inline-block;
    margin: 7% 15%;
    text-align: center;
    border: 2px solid #eff0ff;
    border-radius: 24px;
    padding: 3% 0;
}
a.loginbtn:hover{
    color: #696cff;
    background-color: #FFF;
}
.big-headning{
    font-weight: 900;
    font-size: 2rem;
    color: #696cff;
}
.social-media-platform{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media-platform a{
    color: #1a1d86;
    text-decoration: none;
    border-radius: 50%;
    display: inline-flex;
    border: 1px solid #e0e3e2;
    margin: 12%;
    padding: 13%;
}
.progressanjali-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0;
    width: 90%;
}
.progressanjali-bar .stage{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.progressanjali-bar .tool-tip{
    color: #1a1d86;
    font-weight: 600;
}
.progressanjali-bar .stageno{
    margin: 6% 0;
    padding: 2% 7%;
    border-radius: 50%;
    background-color: #f5f5f9;
    color: #000;
}

.button-container{
    display: flex;
    align-items: center;
    margin: 4% 0;
}

.text-fields{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 2%;
    margin: 0 2%;
    width: 46%;
    border-radius: 4px;
    color: #84848d;
}
input{
    border: none;
    outline: none;
    background: inherit;
    padding-left: 10px;
    color: #84848d;
    /* width: 400%; */
    margin-left: 4%;
    font-size: 1rem;
}
.signup-form-content{
    width: 100%;
    padding: 0 3%;
}
.text-fields.product_name::after{
    content: 'Product Name';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -215px;
    color: #696cff;
    top: -28px;
    white-space: nowrap;
}

.text-fields.product_brand::after{
    content: 'Product Brand';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -215px;
    color: #696cff;
    top: -28px;
    white-space: nowrap;
}

.text-fields.video_tutorial_title::after{
    content: 'Video Title';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -215px;
    color: #696cff;
    top: -28px;
    white-space: nowrap;
}

.text-fields.video_tutorial_description::after{
    content: 'Video Description';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -215px;
    color: #696cff;
    top: -28px;
    white-space: nowrap;
}

.text-fields.product_price::after{
    content: 'Product Price';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -215px;
    color: #696cff;
    top: -28px;
    white-space: nowrap;
}

.text-fields.discount_price::after{
    content: 'Product Discount Price';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -215px;
    color: #696cff;
    top: -28px;
    white-space: nowrap;
}

.text-fields.video_tutorial_keywords_or_tags::after{
    content: 'Keywords & Tags';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -215px;
    color: #696cff;
    top: -28px;
    white-space: nowrap;
}
.text-fields.video_tutorial_selected_Language::after{
    content: 'Video Language';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -215px;
    color: #696cff;
    top: -28px;
    white-space: nowrap;
}
.text-fields.video_tutorial_selected_course_name::after{
    content: 'Course of Video';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -215px;
    color: #696cff;
    top: -28px;
    white-space: nowrap;
}

.text-fields.product_color::after{
    content: 'Product Color';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -215px;
    color: #696cff;
    top: -28px;
    white-space: nowrap;
}

.text-fields.product_size::after{
    content: 'Product Size';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -215px;
    color: #696cff;
    top: -28px;
    white-space: nowrap;
}
.text-fields.product_weight::after{
    content: 'Product Weight';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -215px;
    color: #696cff;
    top: -28px;
    white-space: nowrap;
}

#my_list{
    border: none;
    outline: none;
    background: inherit;
    color: #84848d;
    margin-top: 4px;
    font-size: 1rem;
}
.text-fields.business_type select {
    padding-left: 20px; 
}
#my_list2{
    border: none;
    outline: none;
    background: inherit;
    color: #84848d;
    margin-top: 4px;
    font-size: 1rem;
}

#my_list5{
    border: none;
    outline: none;
    background: inherit;
    color: #84848d;
    margin-top: 4px;
    font-size: 1rem;
}
#my_list6{
    border: none;
    outline: none;
    background: inherit;
    color: #84848d;
    margin-top: 4px;
    font-size: 1rem;
}
.text-fields.business_strength select {
    padding-left: 20px; 
}
#my_list3{
    border: none;
    outline: none;
    background: inherit;
    color: #84848d;
    margin-top: 4px;
    font-size: 1rem;
}
.text-fields.product_category select {
    padding-left: 20px; 
}
#my_list4{
    border: none;
    outline: none;
    background: inherit;
    color: #84848d;
    margin-top: 4px;
    font-size: 1rem;
}
.text-fields.account_type select {
    padding-left: 5px; 
}
.file_uploader{
    display: flex;
    width: 295px;
    align-items: center;
    margin-left: 14px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #84848d;
    padding: 2%;
}

.file_uploader_heading{
    background-color: #FFF;
    position: relative;
    padding: 0 8px;
    left: -260px;
    color: #696cff;
    top: -28px;
    white-space: nowrap;
}

.file_uploader2{
    display: flex;
    width: 295px;
    align-items: center;
    margin-left: -66px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #84848d;
    padding: 2%;
}

.file_uploader_heading2{
    background-color: #FFF;
    position: relative;
    padding: 0 8px;
    left: -260px;
    color: #696cff;
    top: -28px;
    white-space: nowrap;
}

#proof_of_bank_account_ownership{
    cursor: pointer;
}
.pagination-btns{
    display: flex;
    justify-content: center;
    margin: 3% 0;
    padding: 0 4%;
}
.nextpage, .previouspage{
    background-color: #8789ff;
    color: #FFF;
    width: 45%;
    cursor: pointer;
    padding: 2%;
    margin: 20px;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    outline: none;
}
.nextpage:hover, .previouspage:hover{
    background-color: #696cff;
}
.tc-container input{
    width: 10%;
    margin-left: 4%;
    accent-color: #696cff;
}
.tc a{
    text-decoration: none;
    color: #696cff;
}
.tc a:hover{
    color: #1a1d86;
}
label.tc{
    margin-left: 4%;
    white-space: nowrap;
}
.khaskao{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 170px;
    width: 290px;
}
#video_tutorial_url{
    padding-top: 5px;
}
#video_tutorial_Thumbnail_Image{
    padding-top: 5px;
}
.msg{
    width: 50%;
    height: 50px;
    color: green;
    font-size: 20px;
    border-radius: 6px;
    padding: 8px 0 0 25px;
    background: white;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}

#popup-btn{
    height: 80%;
    margin-bottom: 8px;
    width: 30px;
    padding-bottom: 4px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    background: rgba(0,0,0,.2);
    margin-left: 33%;
}