@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    text-decoration: none;
}

body{
    background-color: #081b29;
}

.navbar{
    margin-top: 15px;
    background: #081b29;
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
    border: 2px solid #0ef;
    box-shadow: 0 0 20px #0ef;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
    border-bottom: 2px solid white;
    font-family: poppins;
}

.logo a:hover{
    color: #fff;
    text-shadow: 0 0 40px #0ef;  
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
}

li a:hover{
    color: #081b29;
    background-color: white;  
    border: 2px solid #fff;
    border-radius: 9px;
    box-shadow: 0 0 20px #0ef;  
}

.menu i {
    display: inline-block;
    width: 22px; 
    height: 20px; 
    border-radius: 50%; 
    border: 1px solid white; 
    text-align: center;
}

img{
    height: 400px;
    width: 390px;
    margin: -250px 30px 20px 850px;
    display: inline;
}

.one {
    vertical-align: top; 
    margin: 0 0 0 40px;
    color: white;
    font-weight: 600;
    font-size: 40px;
}

#span2 {
    margin: 0 0 0 80px;
}

.aadu{
    margin-top: 200px;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

#sliding-image {
    animation: none; 
}

#sliding-image-a {
    animation: none; 
    height: 350px;
    width: 300px;
}

#sliding-image-b {
    animation: none; 
    margin-top: -350px;
}


@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.animate-left {
    animation: none; 
    display: inline-block;
}

.contact{
    margin: -300px 0 0 800px;
}
